@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #f4f7fb;
  font-family: Inter, sans-serif;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c7d2e0;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9fb0c7;
}